.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.selectCarrierText {
  font-size: 14px;
}

.regionSelector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 148px;
}

.regionSelect {
  width: 200px;
}

.cardFooter {
  padding: 16px;
  border-top: 1px solid #e1e3e5;
}

.footerButtons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

/* 查看模式下的样式 */
.carrierRow {
  display: flex;
  align-items: center;
}

.carrierInfo {
  display: flex;
  align-items: center;
}

.carrierIcon {
  margin-right: 16px;
}

.carrierDetails {
  display: flex;
  flex-direction: column;
}

.carrierName {
  font-weight: 500;
  font-size: 14px;
}

.servicesCount {
  color: #637381;
  font-size: 12px;
}

.labelOptionsView {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	height: 40px;
	padding: 0 8px;
background: var(--Background-Default, #F6F6F7);
}

.labelOptionsTitle {
  font-size: 14px;
  color: #6D7175;
}

.labelOptionsList {
  display: flex;
  gap: 8px;
}

.labelOptionItem {
  display: flex;
  align-items: center;
}

.noBorderSection {
	margin-top: 12px;
  /* 使用:global语法来覆盖Polaris组件的样式 */
  :global(.Polaris-Card__Section) {
    border-top: 0;
    padding-top: 0;
  }
}
