.card {
  position: relative;
  background: linear-gradient(135deg, #FFFFFF 0%, #FFFCFB 40%, #FFEBE4 100%);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25), 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  min-height: 200px;
  width: 100%;
  max-width: 650px;
}

.content {
  width: calc(100% - 260px);
  padding-right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.save_badge {
  position: absolute;
  right: 190px;
  top: 20px;
  width: 110px;
  height: auto;
  z-index: 3;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  transform: scale(0.85);
  transform-origin: top right;
}

.carriers_list {
  position: absolute;
  right: 0;
  top: 0;
  width: 260px;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  padding: 10px;

  /* 添加小点样式 */
  &::after {
    content: "+30 Carriers";
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 500;
  }
}
